.blog-component .card-body
{
    background-color: #6D656C;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 80%;
}

.search-input {
    padding: 10px;
    width: 60%;
    border: none;
    border-radius: 20px 0 0 20px;
    outline: none;
}

.search-button {
    padding: 10px;
    border: 2px solid #ced4da;
    border-radius: 0 5px 5px 0;
    color: #A6BBCF;
    cursor: pointer;
    outline: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.search-button i {
    font-size: 16px;
}


.image-container {
    height: 100%;
    overflow: hidden;
}

.image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover; /* Ensures the image covers the container */
    display: block; /* Removes any gap under the image */
}

.tags .card-header , .new-posts .card-header
{
    background-color: rgb(153, 180, 180);
}

.tags .card-body
{
    background-color: #f8f5f5;
}