
.blog-detail-wrapper 
{
    margin: auto;
    font-size: 18px;
    height: auto;
}
.blog-img-wrapper img
{
    
    height: 350px;
    width: 500px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.blog-detail-wrapper .main-idea
{
    font-size: 24px;
    font-weight: bolder;
}

.blog-detail-wrapper a 
{
    text-decoration: none;
    color: #6D656C;
    font-size: 18px;
}
.tag
{
    background: #81C279;
    border-radius: 30px;
    padding: 4px;
    font-weight: bolder;
    color: rgb(25, 25, 25);
    font-family: dejavuSerif;
}

.make-comment
{
    display: block;
    margin-top: 10px;
}

.make-comment h5{
    cursor: pointer;
}

.make-comment form
{
    display: none;
}

.make-comment textarea
{
    width: 600px;
}

.comment-btn
{
    padding: 10px;
    border-radius: 20px;
}

.sidebar
{
    margin-right: 1.5rem;
}

.sidebar .blog-component
{
    height: auto;
    background-color: #6D656C;
}
.sidebar .card-body
{
    height: auto;
}

@media (max-width: 1460px) {
    .sidebar .col-md-5
    {
        display: none;
    }

    .sidebar .col-md-7
    {
        width: 100%;
    }
  }

  @media (max-width: 765px) {
    .sidebar
    {
        margin-top: 20px;
    }
    .sidebar .col-md-5
    {
        display: flex;
        width: 50%;
    }

    .sidebar .col-md-7
    {
        width: 300px;
    }
  }

.blog-component .title
{

}

.single-comment
{
    background-color: whitesmoke;
    height: auto;
    padding: 10px;
}
.avatar
{
    width: 4rem;
    height: 4rem;
}

.sidebar img{
    height: 203px;
}

