
.blog-detail-wrapper 
{
    margin: auto;
    font-size: 18px;
    height: auto;
}
.blog-img-wrapper img
{
    
    height: 400px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.blog-detail-wrapper .main-idea
{
    font-size: 24px;
    font-weight: bolder;
}

.blog-detail-wrapper a 
{
    text-decoration: none;
    color: #6D656C;
    font-size: 18px;
}

.sidebar
{
    margin-right: 4rem;
}

.sidebar .blog-component
{
    height: 205px;
    background-color: #6D656C;
}

.blog-component .title
{

}

.single-comment
{
    background-color: whitesmoke;
    height: auto;
    padding: 10px;
}
.avatar
{
    width: 4rem;
    height: 4rem;
}

.sidebar img{
    height: 203px;
}

