<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Blog</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home/navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Blog.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home/carousel.css">
</head>
<body style="background-color: #DFDCDA;">
    <div class="nav-container">
        @await Html.PartialAsync("~/Views/Shared/Navbar/_Navbar.cshtml")
    </div>

    <header>
        @await Html.PartialAsync("~/Views/Shared/Navbar/_Head.cshtml")
    </header>
    
    <!-- <div class="container">
        <main role="main" class="pb-3"> -->
            @RenderBody()
        <!-- </main>
    </div> -->
    <!-- <div class="hakkimda">
        @RenderSection("Hakkimda", required:false)
    </div> -->
 

    <div class="footer container">
        @await Html.PartialAsync("~/Views/Shared/Footer/_Footer.cshtml")
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/carousel.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
