<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/user/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
</head>
<body>

  <section>
    <div class="header-container">
      <a class="logo" asp-area="" asp-controller="Home" asp-action="Index">MUTU</a>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="login-container col-lg-6 text-black">
          <div class="row">
            <div class="head-login">
              <img src="~/images/blank-profile-pic.jpg" alt="Profile Image">
              <h5>Giriş Yap</h5>  
            </div>
     
            <div class="form-container">
        
              <form asp-action="Register" method="post" class="form-control" enctype="multipart/form-data">
        
                @RenderBody()
        
              </form>
        
            </div>
          </div>

      
        </div>
        <div class="img-container col-lg-6 d-none px-0 d-lg-block fading-opacity">
            <img src="~/images/drawinsights.gif" alt="Login image">
        </div>
      </div>
    </div>
  </section>
</body>
</html>