@model IEnumerable<Blog.Entity.Post>


  <div class="blog-component card mb-2">
    <div class="card-header">
        <h5 class="card-title mb-0">New Posts</h5>
    </div>  
    @foreach(var blog in Model)
    {  
      <div class="col ">
        <div class="card-body">
          <h5 class="card-title">@blog.Title</h5>
          <p class="card-text short-text">@blog.Content.Substring(0, Math.Min(100, blog.Content.Length))...</p>
          <a href="#" class="btn btn-primary">Primary Tag</a>
        </div>
      </div>
  }
</div>