@model IEnumerable<Blog.Entity.Post>
  <!-- <div class="card mb-3">
    <div class="card-header">
        <h5 class="card-title mb-0">Tags</h5>
    </div> -->
@foreach(var blog in Model)
{  
  <div class="blog-component card m-2" >
    <div class="row g-0">
      <div class="col">
        <img src="@Url.Content(blog.PostImage)" class="d-block w-100" alt="@blog.Title">
      </div>
      <div class="col ">
        <div class="card-body">
          <h5 class="card-title">@blog.Title</h5>
          <p class="card-text ">@blog.Content.Substring(0, Math.Min(100, blog.Content.Length))...</p>
          <a href="#" class="btn btn-primary">Primary Tag</a>
        </div>
      </div>
    </div>
  </div>
}