<div class="categories">
    <ul>
        <li class="dropdown">
            <a href="#">Cyber Security</a>
        </li>
        <li class="dropdown">
            <a href="#">Yazılım Geliştirme</a>
            <ul class="dropdown-content">
                <li><a href="#">Frontend Development</a></li>
                <li class="sec-dropdown">
                    <a href="#">Backend</a>
                    <ul class="sec-dropdown-content">
                        <li><a href="#">.NET</a></li>
                        <li><a href="#">Node.js</a></li>
                    </ul>
                </li>
                <li class="sec-dropdown">
                    <a href="#">Oyun Geliştirme</a>
                    <ul class="sec-dropdown-content">
                        <li><a href="#">C#</a></li>
                        <li><a href="#">Unity</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#">Network</a>
        </li>
        <li class="dropdown">
            <a href="#">Data Science</a>
            <ul class="dropdown-content">
                <li><a href="#">Machine Learning</a></li>
                <li><a href="#">Deep Learning</a></li>
                <li><a href="#">Data Analysis</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#">Spor</a>
            <ul class="dropdown-content">
                <li><a href="#">Espor</a></li>
                <li class="sec-dropdown">
                    <a href="#">Futbol</a>
                    <ul class="sec-dropdown-content">
                        <li><a href="#">Fenerbahçe</a></li>
                        <li><a href="#">Others</a></li>
                    </ul>
                </li>
                <li><a href="#">Santranç</a></li>
            </ul>
        </li>
    </ul>