<nav class="navbar navbar-expand-md">
    <div class="container-fluid">
        <a class="logo" asp-area="" asp-controller="Home" asp-action="Index">Mutu</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span></span>
            <span></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Anasayfa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Blogs" asp-route-tagId="" asp-action="Index">Bloglar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Hakkimda">Hakkımda</a>
                </li>
            </ul>
        </div>

        @if(User.Identity!.IsAuthenticated)
        {
            @if (User.IsInRole("user"))
            {
                <div class="search-container" style="width: 120px;">
                    <a asp-area="" asp-controller="Blogs" asp-action="Create">
                        <i class="bi bi-pencil-square"></i>
                        Blogger Ol
                    </a>
                </div>
            }
            else if(!User.IsInRole("user"))
            {
                <div class="search-container">
                    <a asp-area="" asp-controller="Blogs" asp-action="Create">
                        <i class="bi bi-pencil-square"></i>
                        Blog Yaz
                    </a>
                </div>
            }
            
            <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <!-- <i class="bi bi-person-circle"></i> -->
                     @User.Identity.Name
                </a>
              
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" asp-area="" asp-controller="Profile" asp-action="Profile">Profile</a>
                    <a class="dropdown-item" asp-area="" asp-controller="Users" asp-action="Logout">Logout</a>
                </div>
              </div>
        }
        else
        {
            <div class="search-container">
                <a asp-area="" asp-controller="Users" asp-action="Login">
                    Login
                </a>
            </div>
        }
        
    </div>
</nav>