@model PostViewModel
@{
    ViewData["Title"] = "Home Page";
}
<head>
  <link rel="stylesheet" href="~/css/home/carousel.css">
  <link rel="stylesheet" href="~/css/home/post-user.css">
</head>


<div class="popular-post container mt-2">
  <h2>Öne Çıkanlar</h2>
  @await Component.InvokeAsync("PopularPosts")
  
</div>

<div class="post-user container d-flex flex-column flex-md-row">
  <div class="col-md-8 col-sm-12">
    <h2>Son Eklenenler</h2>
    @await Component.InvokeAsync("NewestPosts")
  </div>
  <div class="col-md-4 col-sm-6">
    <h2>Yazarlar</h2>
    @await Component.InvokeAsync("BestBloggers")
  </div>
</div>

