@model PostViewModel

@{
    ViewData["Title"] = "Home Page";
}
<head>
  <link rel="stylesheet" href="~wwwroot/css/home/carousel.css">
</head>


<div class="container mt-2">
  <h2>Öne Çıkanlar</h2>
  @await Component.InvokeAsync("PopularPosts")
  
</div>
