
@font-face {
    font-family: navbarFont;
    src: url(~/fonts/dejavu-serif.book.tff);
  }
  
@font-face {
    font-family: navbarFontBold;
    src: url(~/fonts/dejavu-serif.bold.tff);
  
  }


.header-container
{
    background-color: #fab8ac;
    height: 45px;
    padding-left: 1.2rem;
}


.header-container a.logo
{
    text-decoration: none;
    color: black;
    font-size: 1.8em;
    font-family: navbarFontBold;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.06rem;
}


