@model Blog.Models.LoginViewModel
@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewData["Title"] = "Page Title";
}

<form asp-action="Login" method="post">
    <h1>Giriş Yap</h1>
    <div class="image-wrapper mt-4">
        <img src="~/images/blank-profile-pic.jpg" alt="">
      </div>
    <input type="email" asp-for="Email" placeholder="Email" required />
    <input type="password" asp-for="Password" placeholder="Password" required />

    <div style="width: 60%; display: flex;">
        <input type="checkbox" asp-for="RememberMe">
        <label asp-for="RememberMe" >Beni Hatırla</label>
    </div>
    <button type="submit">Giriş Yap</button>
    <p class="mt-2">Hesabın yok mu? Kayıt ol.</p>
    <button type="button"id="Register">Kayıt ol</button> 
</form>     

<script>
    document.getElementById('Register').addEventListener('click', function() {
        console.log('Register button clicked'); // Butona tıklamanın algılanıp algılanmadığını kontrol et
        window.location.href = 'Register';
    });
</script>