@model RegisterViewModel
@{
    Layout = "~/Views/Shared/_LayoutLoginRegister.cshtml";
    ViewData["Title"] = "Page Title";
}

<div class="mb-2">
    <label asp-for="UserName" class="form-label"></label><br>
    <input asp-for="UserName" class="form-control"> 
    <span asp-validation-for="UserName"></span>
</div>
<div class="mb-2">
    <label asp-for="Email" class="form-label"></label><br>
    <input asp-for="Email" class="form-control">
    <span asp-validation-for="Email"></span>
</div>
<div class="mb-2">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="Password" required>
</div>
<div class="input-group mb-2">
    <input type="file" name="ImageFile" id="ProfilePhoto" class="d-block form-control">
    <br>
    <span asp-validation-for="ProfilePhoto"></span>
</div>

<div class="col-12">
    <button class="btn btn-primary" type="submit">Submit form</button>
</div> 
